<div
  class="relative overflow-hidden rounded-2xl p-6 border bg-white
         shadow-sm hover:shadow-lg transition">


  <div>
    <p class="text-sm text-gray-500 mb-2 uppercase tracking-wide">
      {{ title }}
    </p>
    <p class="text-3xl font-bold text-gray-900">
      {{ value }}
    </p>
  </div>

  
  <div
    class="absolute right-4 top-4 w-12 h-12 rounded-xl flex items-center justify-center text-white"
    [ngClass]="{
      'bg-blue-500': color === 'blue',
      'bg-green-500': color === 'green',
      'bg-orange-500': color === 'orange',
      'bg-purple-500': color === 'purple',
      'bg-red-500': color === 'red'
    }">
    <span class="text-lg font-semibold">
      {{ title.charAt(0) }}
    </span>
  </div>


  <div
    class="absolute bottom-0 left-0 h-1 w-full"
    [ngClass]="{
      'bg-blue-500': color === 'blue',
      'bg-green-500': color === 'green',
      'bg-orange-500': color === 'orange',
      'bg-purple-500': color === 'purple',
      'bg-red-500': color === 'red'
    }">
  </div>

</div>
